DJANGO_SECRET_KEY=super-secreto-render-planning-pocket-2024-xyz123
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=planning-pocket-ypvs.onrender.com,localhost,127.0.0.1
DJANGO_SECURE_SSL_REDIRECT=True

# Superuser Configuration
DJANGO_SUPERUSER_USERNAME=blandskron
DJANGO_SUPERUSER_EMAIL=blandskron@nxtara.com
DJANGO_SUPERUSER_PASSWORD=blandskron_secure_2024